<!-- <mat-toolbar color="primary">       
    <span>
        <a class="navbar-brand"><img class="main-logo imgLogo" src="https://cudportal.cud.ac.ae/apply/Content/Images/logo-sticky.png" /></a>
    </span>
    <span class="example-spacer">
    </span>
    <button mat-button >
            <span>Logout</span>
    </button>
    <button mat-button >
        <span>Login</span>
</button>  
</mat-toolbar> -->
<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="clickMenu()">
     <mat-icon>menu</mat-icon>
   </button>
   <span>
   CUD IT ADMIN APP
    </span>
   <span class="example-spacer"></span>
   <button [hidden]="logbtnHide" (click)="logout()" mat-raised-button color="accent" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     <mat-icon>favorite</mat-icon> Logout
   </button>
   <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>