<div class="container">
    <div class="row">
        <div class="col-6">
            <mat-card>
                <mat-card-header> 
                    <div mat-card-avatar class="example-header-image">
                        <img class="card-img-top rounded-circle custom_rounded profimg" src="/assets/Images/red-logo-maple-date.jpg" alt="Card image cap">
                    </div>                   
                <mat-card-title>
                    Admissions Admin APP
                </mat-card-title>
                <mat-card-subtitle>Start Again</mat-card-subtitle>
            </mat-card-header>
                <mat-card-content>
                    With supporting text below as a natural lead-in to additional content.
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" routerLink="/dashboard/Studstatus">Navigate</button>                    
                  </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-6">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image">
                        <img class="card-img-top rounded-circle custom_rounded profimg" src="/assets/Images/red-logo-maple-date.jpg" alt="Card image cap">
                    </div>
                <mat-card-title>
                    Finance Admin APP
                </mat-card-title>
                <mat-card-subtitle>Test</mat-card-subtitle>
            </mat-card-header>
                <mat-card-content>
                    With supporting text below as a natural lead-in to additional content.
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" routerLink="/dashboard/Studstatus">Navigate</button>                    
                  </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
